<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.UANL.colorguide">
    <!-- Se agregan permisos para acceso a internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".UserApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ColorGuide">
        <activity
            android:name=".BorradoresActivity"
            android:exported="false" />
        <activity
            android:name=".paletteFavCollection"
            android:exported="false" />
        <activity
            android:name=".palleteFav"
            android:exported="false" />
        <activity
            android:name=".paletteInfo"
            android:exported="false" />
        <activity
            android:name=".signUpPic"
            android:exported="false" />
        <activity
            android:name=".PruebaCOLOR"
            android:exported="true" />
        <activity
            android:name=".MainActivity2"
            android:exported="true" />
        <activity
            android:name=".paletteCollection"
            android:exported="true" />
        <activity
            android:name=".profile"
            android:exported="true" />
        <activity
            android:name=".createPalette"
            android:exported="true" />
        <activity
            android:name=".home"
            android:exported="true" />
        <activity
            android:name=".signUp"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>